{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <article>
            <div class="xl:divide-y xl:divide-gray-200 xl:dark:divide-gray-700">
                <header class="pt-6 xl:pb-6">
                    <div class="space-y-1 text-center">
                        <dl class="space-y-10">
                            <div>
                                <dt class="sr-only">Published on</dt>
                                <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                                    <time dateTime="2023-08-05T00:00:00.000Z">
                                        {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}
                                    </time>
                                </dd>
                            </div>
                        </dl>
                        <div>
                            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">
                                {{ post.title }}
                            </h1>
                        </div>
                    </div>
                </header>
                <div class="grid-rows-[auto_1fr] divide-y divide-gray-200 pb-8 dark:divide-gray-700 xl:grid xl:grid-cols-4 xl:gap-x-6 xl:divide-y-0">
                    <dl class="pb-10 pt-6 xl:border-b xl:border-gray-200 xl:pt-11 xl:dark:border-gray-700">
                        <dt class="sr-only">Authors</dt>
                        <dd>
                            <ul class="flex flex-wrap justify-center gap-4 sm:space-x-12 xl:block xl:space-x-0 xl:space-y-8">
                                <li class="flex items-center space-x-2">
                                    <img alt="avatar" loading="lazy" width="38" height="38" decoding="async" data-nimg="1" class="h-10 w-10 rounded-full" style="color:transparent"
                                         srcSet=""
                                         src="https://picsum.photos/id/40/38/38"/>
                                    <dl class="whitespace-nowrap text-sm font-medium leading-5">
                                        <dt class="sr-only">{{ post.author.username }}</dt>
                                        <dd class="text-gray-900 dark:text-gray-100">Tails Azimuth</dd>
                                        <dt class="sr-only">Twitter</dt>
                                        <dd>
                                            <a class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" target="_blank" rel="noopener noreferrer" href="https://twitter.com/Twitter">
                                                @Twitter
                                            </a>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="divide-y divide-gray-200 dark:divide-gray-700 xl:col-span-3 xl:row-span-2 xl:pb-0">
                        <div class="prose max-w-none pb-8 pt-10 dark:prose-invert">
                            {{ post.content|markdown_to_html|sanitize_html }}
                        </div>
                        <div class="pb-6 pt-6 text-sm text-gray-700 dark:text-gray-300"><a class="break-words" target="_blank" rel="nofollow" href="https://mobile.twitter.com/search?q=https%3A%2F%2Ftailwind-nextjs-starter-blog.vercel.app%2Fblog%2Frelease-of-tailwind-nextjs-starter-blog-v2.0">Discuss
                                on Twitter</a> • <a class="break-words" target="_blank" rel="noopener noreferrer" href="https://github.com/timlrx/tailwind-nextjs-starter-blog/blob/main/data/blog/release-of-tailwind-nextjs-starter-blog-v2.0.mdx">View on GitHub</a></div>
                        <div class="pb-6 pt-6 text-center text-gray-700 dark:text-gray-300" id="comment">
                            <button>Load Comments</button>
                        </div>
                    </div>
                    <footer>
                        <div class="divide-gray-200 text-sm font-medium leading-5 dark:divide-gray-700 xl:col-start-1 xl:row-start-2 xl:divide-y">
                            <div class="py-4 xl:py-8"><h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">Tags</h2>
                                <div class="flex flex-wrap"><a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/next-js">next-js</a><a
                                            class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/tailwind">tailwind</a><a
                                            class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/guide">guide</a><a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                                                                                                                                                                                          href="/tags/feature">feature</a></div>
                            </div>
                            <div class="flex justify-between py-4 xl:block xl:space-y-8 xl:py-8">
                                <div><h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">Previous Article</h2>
                                    <div class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"><a class="break-words" href="/blog/new-features-in-v1">New features in v1</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 xl:pt-8">
                            <a class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" aria-label="Back to the blog" href="{{ path('app_blog') }}">
                                ← Back to the blog
                            </a>
                        </div>
                    </footer>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
